<div class="pt-5">
    <h1 class="text-center">Save on, saver</h1>
    <div class="row mt-lg-5 mx-0 mt-3 pr-2 pl-2">
        <div class="col-lg-3 d-none d-lg-block">
            <div class="boxSave">
                <div class="boxText">
                    <h5 class="text-center">Jewels deals event</h5>
                    <h6 class="text-center">Up to $100 off Jewels</h6>
                </div>
                <div class="boxImg">
                    <img class="card-img" src="https://target.scene7.com/is/image/Target/GUEST_ead5a9d8-313e-47f1-a59c-a9242d29fd0f?wid=1200" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 px-md-3 px-0">
            <div class="boxSave">
                <div class="boxText">
                    <h5 class="text-center">Sale up to <span class="text-danger">35%</span></h5>
                    <h6 class="text-center">Pick up some school shirts</h6>
                </div>
                <div class="boxImg">
                    <img class="card-img" src="https://media.doisongphapluat.com/thumb_x1280x857/2016/11/29/chon_ao_so_mi_nam_cho_nguoi_gay_2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 px-md-3 px-0">
            <div class="boxSave">
                <div class="boxText">
                    <h5 class="text-center">Sale <span class="text-danger">30%</span></h5>
                    <h6 class="text-center">Select Jeans</h6>
                </div>
                <div class="boxImg">
                    <img class="card-img" src="https://target.scene7.com/is/image/Target/GUEST_b860431f-80e1-482e-a9f3-1c0cf8deb0a8?wid=1200" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 px-md-3 px-0">
            <div class="boxSave">
                <div class="boxText">
                    <h5 class="text-center">Sale up to <span class="text-danger">40%</span></h5>
                    <h6 class="text-center">Select some clothes for your baby</h6>
                </div>
                <div class="boxImg">
                    <img class="card-img" src="https://target.scene7.com/is/image/Target/GUEST_bea6f264-e780-4e95-b59c-8f57535b3d51?wid=1200" alt="">
                </div>
            </div>
        </div>
    </div>
</div>