<div class="all">
    <div class="bg-dark pad">
        <div class="text">
            <h1> Our corporate commitments </h1>
        </div>
        <div class="corporate mt-4">
            <div class="row">
                <div class="col-lg-4 col-md col-sm-12 mt-3">
                    <div class="card">
                        <div class="img">
                            <img src="https://target.scene7.com/is/image/Target/Vaccine_D-210810-1628610814413?wid=720&qlt=80&fmt=webp " alt="">
                            <div class="text-on p-3 text-center text-white">

                                <p class="h4">
                                    COVID-19 vaccines
                                </p>
                                <p>
                                    <sub>Make an appointment for your free vaccine through CVS Pharmacy at
                                            Target. No cost with insurance or through a federal program for the
                                            uninsured.</sub>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card">
                        <div class="img">
                            <img src="https://target.scene7.com/is/image/Target/Forward_D-210810-1628610863584?wid=720&qlt=80&fmt=webp " alt="">
                            <div class="text-on p-3 text-center text-white">

                                <p class="h4">
                                    Target Forward
                                </p>
                                <p>
                                    <sub>Let’s move toward a more equitable & regenerative future together.
                                            Explore our sustainability strategy.</sub>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                    <div class="card">
                        <div class="img">
                            <img src="https://target.scene7.com/is/image/Target/JusticeDesktop-210318-1616086427283?wid=720&qlt=80&fmt=webp " alt="">
                            <div class="text-on p-3 text-center text-white">

                                <p class="h4 text-center ml-lg-5">
                                    Our commitments
                                </p>
                                <p>
                                    <sub class="text-center ml-lg-5">Learn about our commitments to ethics, our team, our communities &
                                            more.</sub>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>