<div class="text-center">
    <h1 class="pt-5">Featured categories</h1>
    <p><a routerLink="/shop" class="text-dark">Shop All</a></p>
</div>

<div class="all mb-5">
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-2 col-md-3 col-6 mt-3" *ngFor="let item of list">
            <div class="image" (click)="navigateToShop(item.id)">
                <img src="{{item.image}}" alt="">
            </div>
            <div class="text text-center">
                <h5>{{item.name}}</h5>
            </div>
        </div>
    </div>
</div>